#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=keyboard language switch on screen lock

[Service]
ExecStart=/usr/local/bin/kb-lock-switch
Restart=on-failure
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
