[submodule "tmuxPlugin/tmux-cpu"]
	path = tmuxPlugin/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "tmuxPlugin/tmux-online-status"]
	path = tmuxPlugin/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule "tmuxPlugin/tmux-prefix-highlight"]
	path = tmuxPlugin/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "tmuxPlugin/tmux-current-pane-hostname"]
	path = tmuxPlugin/tmux-current-pane-hostname
	url = https://github.com/soyuka/tmux-current-pane-hostname
[submodule "tmuxPlugin/tmux-xkblayout"]
	path = tmuxPlugin/tmux-xkblayout
	url = https://github.com/Skrip42/tmux-xkblayout.git
[submodule "tmuxPlugin/tmux-better-mouse-mode"]
	path = tmuxPlugin/tmux-better-mouse-mode
	url = https://github.com/nhdaly/tmux-better-mouse-mode
